body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    border-bottom: rgba(1, 0, 0, 0.1) 1px solid; /* Add a grey border bottom */
}

.search-title {
    font-size: 22px;
    font-weight: 500;
}

.search-bar-container {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.search-bar {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    height: 50px;
    border: none; /* Remove the border */
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    background-color: white; /* Set the background color to white */
    box-shadow: rgba(0, 0, 0, 0.062) 0px 4px 12px; /* Add box-shadow when focused */
    transition: box-shadow 0.1s ease; /* Add transition for box-shadow */
}

.search-bar:focus {
    box-shadow: rgba(0, 0, 0, 0.162) 0px 4px 12px; /* Add box-shadow when focused */
}

.search-bar-placeholder {
    position: absolute;
    top: 15px;
    left: 23px; /* Adjust the position to make room for the search icon */
    pointer-events: none;
    color: #aaa;
    font-size: 18px;
}

.completion {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.903);
}

.completion-block {
    margin-top: 2rem;
    width: 95vw;
    height: 500px;
    text-align: left;
}

.completion-title {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 700;
    align-content: flex-start;
    color: rgba(0, 0, 0, 0.474);
}

.download-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 86%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}

.download-button:disabled {
  cursor: default;
}

.download-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        padding: 20px;
    }

    .results-container {
        align-items: center;
        width: 90vw;
    }

    .completion-block {
        width: 90vw;
        text-align: center;
    }

    .completion {
        text-align: left;
        display: inline-block;
    }

    .download-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90vw;
    }

    .search-title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .search-bar-container {
        margin-left: 0;
    }
}
